* {
    font-family:'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background-color: #222;
}

.files {
    position: fixed;
    top: 20px;
    left: 55vw;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    #code, #code_highlight {
        border: none !important;
    }
}

#numbers {
    margin-top: 20px;
    width: 65px;
    text-align: right;
    color:#eee;
}

#code, #code_highlight {
    position: absolute;
    top: 20px;
    left: 70px;
    width: 50vw;
    height: 16000px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    color: #EEE
}

#code {
    background-color: transparent;
    color: transparent;
    caret-color: #EEE;
    z-index: 1;
}

#code_highlight {
    color: #EEE;
}

#code_run {
    width: 100px;
    height: 50px;
}

#result {
    width: 500px;
    height: 500px;
}
