@import 'style', 'fonts';

$value: 100px;
$color: #CCCCCC;
$obj: 'content';

@function cent($w, $h) {
	@return $w * 0.5 + $h * 0.5;
}

@mixin my_mix($arg, $width:100px) {
	font: {
		family: Arial;
		size: $arg;
		weight: bold; 
	}
	color: red;

	@each $animal in cat,dog,mouse {
		##{$animal}-icon {
			background-image: url(images/#{$animal}.png);
		}
	}

	@if 1+1 == 2 {
		color: red;
	}
	@else if 5 < 3 {
		color: #777700;
	}
	@else {
		color green
	}

	@for $i from 0 through 3 {
		.item-#{$i} {
			color: red;
		}
	}

	@for $i from 0 to 3 {
		.item-#{$i} {
			color: red;
		}
	}
}

body {
	background-color: blue;
	div {

		$val: 10;
		$vul: 10 !global;

		@include my_mix(10pt);

		#{$obj}: $color + #111111;

		a {
			color: white;
			&:hover {
				color: red;
				left: $value - $val;
			}
		}
		
		span {
			@extend a;
			color: black;
		}

		@at-root {
			form {
				background-color: #ff0011;
			}
		}
	}
}